/*-- scss:defaults --*/

// Import fonts

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Sanchez:ital@0;1&display=swap');

// fonts
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-family-serif: 'Sanchez', serif;
$font-family-monospace: 'Anonymous Pro', monospace;

// colors
$primary-blue: #007bff;  // Adjusted primary blue color
$baby-blue: #d2e3f3;
$teal: $primary-blue; // Updated to use the primary blue
$dark-blue: #003660;
$white: #FFFFFF;
$green: #78A540;
$magenta: #900C3F;
$off-white: #F7F7F7;
$gray: #ADADAD;
$dark-gray: #373A3E;
$peach: #DF8073;
$light-blue: #3A9AD9;

// scss variables
$presentation-title-slide-text-align: "left";
$body-bg: $white;
$link-color: $light-blue;
$code-color: $magenta;
$code-bg: $off-white;
$code-block-font-size: 0.8em;
$code-block-bg: $off-white;
$presentation-font-size-root: 26px;

/*-- scss:rules --*/

// bold styling
strong, b {
  font-weight: 900;
}

// table header font size
th {
  font-size: 30px;
}

// table text font size
td {
  font-size: 20px;
}

// horizontal line (default dark blue)
hr {
  border: 0.11em solid $primary-blue;
  border-radius: 0.2em;
  margin-bottom: 0.7em;
  width: 100%;
}

// custom slide title
.section-background {
  background-color: $primary-blue !important;
  font-family: $font-family-sans-serif;
  color: white !important;
  font-size: 1.4em;
}

.section-background1 {
  background-color: white !important;
  font-family: $font-family-sans-serif;
  color: $primary-blue !important;
  font-size: 1.4em;
}

.section-background-small {
  background-color: $teal !important;
  font-family: $font-family-sans-serif;
  color: white !important;
  font-size: 1.2em;
}

.reveal section h1 {
  color: white !important;
}

.title {
  color: $primary-blue !important;
  font-size: 4em;
}

.title-slide h1 {
  color: $peach !important;
}

h3 {
  color: $primary-blue !important;
}

.reveal h2 {
  font-family: $font-family-sans-serif;
  color: $primary-blue;
  font-size: 2em;
  font-weight: 600;
}

.reveal h3 {
  font-family: $font-family-sans-serif;
  color: $primary-blue;
  font-size: 2em;
  font-weight: 600;
}

.subtitle {
  color: $primary-blue !important;
  font-size: 2em;
}

// Custom classes
.custom-title {
  font-family: $font-family-sans-serif;
  color: $primary-blue;
  font-size: 3.4em;
  font-weight: 750;
}

.custom-subtitle {
  font-family: $font-family-sans-serif;
  color: black;
  font-size: 2.2em;
}

.custom-subtitle2 {
  font-family: $font-family-sans-serif;
  color: black;
  font-size: 1.8em;
  font-weight: bold;
}

.custom-subtitle3 {
  font-family: $font-family-sans-serif;
  color: black;
  font-size: 1.0em;
}

.custom-subtitle33 {
  font-family: $font-family-sans-serif;
  color: #f58220;
  font-size: 2.2em;
}

.custom-subtitle4 {
  font-family: $font-family-sans-serif;
  color: black;
  font-size: 0.6em;
}

.title-footer {
  text-align: center !important;
  color: $baby-blue;
  font-size: 0.9em !important;
}

// Slide titles
.slide-title-xl {
  font-family: $font-family-serif;
  color: $primary-blue;
  font-size: 3em;
  font-weight: 700;
}

.slide-title {
  font-family: $font-family-serif;
  color: $primary-blue;
  font-size: 2em;
  font-weight: 700;
}

.slide-title::after {
  content: "";
  display: block;
  border: 4px solid $dark-blue;
  border-radius: 5px;
  margin-bottom: 30px;
}

.slide-title2 {
  font-family: $font-family-serif;
  color: $primary-blue;
  font-size: 1.7em;
  font-weight: 700;
}

.slide-title3 {
  font-family: $font-family-serif;
  color: $primary-blue;
  font-size: 1.5em;
  font-weight: 700;
}

.large-fa-icon {
  font-size: 2.5em;
}

.incremental {
  font-size: 1.1em;
}
