body {
  background-color: #f0f8ff; /* Light Grayish Blue */
  color: #333333; /* Dark Gray for text */
}

figcaption {
  text-align: center;
  color: #007bff; /* Blue */
}

div.theorem, div.proposition, div.corollary, div.lemma, div.definition {
  background-color: #eaf4ff; /* Light Blue Tint */
  border: 2px solid #17a2b8; /* Teal */
  border-left: 5px solid #022e47; /* Dark Blue */
  color: #333333; /* Dark Gray for text */
  padding: 10px;
  border-radius: 6px;
  margin: 15px 0;
}

div.theorem.example {
  background-color: #e6f7fa; /* Light Teal Tint */
  border: 1px solid #17a2b8; /* Teal */
  color: #333333; /* Dark Gray */
}

.reveal pre.sourceCode code {
  background-color: #f8f9fa; /* Very Light Gray */
  color: #022e47; /* Dark Blue */
  padding: 10px;
  border-radius: 4px;
}

.navbar {
  background-color: #007bff; /* Blue */
}

.caption {
  text-align: center;
  color: #333333; /* Dark Gray */
}

h1, h2, h3, h4, h5, h6 {
  color: #007bff; /* Blue for headers */
}

a {
  color: #f58220; /* Orange for links */
  text-decoration: none;
}

/* Logo in the lower left corner */
.reveal {
  position: relative;
  }
  
  .reveal::before {
  content: "";
  position: absolute;
  top: 10px; /* Move the logo up */
  left: 10px; /* Move the logo to the left */
  background: url('images/logo_um.png') no-repeat;
  background-size: contain;
  width: 120px; /* Double the size of the logo */
  height: 120px; /* Double the size of the logo */
  opacity: 1; /* Completely opaque */
  z-index: 100; /* Make sure it's on top of other elements */
  }

.message {
  font-family: monospace;
  color: black;
  font-size: 0.7em;
  margin-top: -35px;
}

.message1 {
  font-family: monospace;
  color: black;
  font-size: 0.7em;
}

.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

iframe {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  border: none;
}